$width: 400px;
$primary-color: #334480;

.login-ag {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    img {
      margin: 0 auto;
      width: 200px;
    }
    .login-btn-ag {
      border: 3px solid $primary-color;
      color: $primary-color;
      text-align: center;
      width: 60%;
      margin-left: 25%;
      height: 65px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 1.2rem;
      margin-top: 4rem;
    }
    .get-srt-btn {
      text-align: center;
      width: 60%;
      margin-left: 25%;
      height: 65px;
      padding: 15px;
      background: $primary-color;
      border: 3px solid $primary-color;
      box-sizing: border-box;
      color: #fff !important;
      font-size: 1.2rem;
      margin-top: 2rem;
    }
  }
  .powered-by {
    margin: 0 auto;
    display: flex;
    margin-bottom: 2rem;
    margin-left: 45%;
    h5 {
      line-height: 1;
      margin: auto 0;
      color: $primary-color;
      font-weight: 600;
    }
    img {
      margin-left: 1rem;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .powered-by{
    margin-left: 43.5% !important;
  }
}