@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$bg-color: #334480;
.main-layout {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  .bets-dash-sider {
    background-color: $bg-color !important;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      height: 100%;
      .logo {
        cursor: pointer;
        height: 80px;
        display: flex;
        border-bottom: 3px solid #ffffff;
        img {
          height: 50%;
          margin: auto 10px;
          margin-left: 10%;
        }
        &.true {
          img {
            margin: auto;
          }
          h2 {
            display: none;
          }
        }
      }
      .sider-contents {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0;
        .group {
          display: flex;
          flex-direction: column;
          height: 0;
          flex-grow: 1;
          padding: 20px 0;
          position: relative;
          h4 {
            margin-left: 25px;
            margin-bottom: 0;
            font-size: 15px;
            color: white;
          }
          .menu-itm {
            margin: 0.4rem 0;
            cursor: pointer;
            padding: 15px 25px;
            display: flex;
            opacity: 0.7;
            svg {
              margin: auto 0;
              height: 15px;
              width: 15px;
            }
            .circle {
              height: 12px;
              width: 18px;
            }
            h5 {
              margin: auto 0 auto 10px;
              font-size: 15px;
              line-height: 1;
              text-transform: capitalize;
              color: white;
            }
            &.active {
              opacity: 1;
            }
            &:hover {
              opacity: 1;
              background: #000466;
            }
          }
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 25px;
            right: 25px;
            height: 1px;
            background-color: white;
          }
          &:last-child {
            &::before {
              content: none;
            }
          }
        }
        .profile-logout {
          display: flex;
          padding: 12px 0;
          margin: 0 20px;
          .dp {
            height: 40px;
            width: 40px;
            border-radius: 25px;
            border: none;
            margin: auto 0;
          }
          .name {
            margin: auto 0;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            h4 {
              margin: 0;
              color: white;
              line-height: 1;
              font-size: 15px;
            }
            a {
              margin: 0;
              color: white !important;
              line-height: 1;
              font-size: 14px;
              cursor: pointer;
              font-weight: normal;
              opacity: 0.5;
              &:hover {
                opacity: 0.8;
              }
            }
            .msg {
              position: relative;
              height: 28px;
              width: 28px;
              img {
                height: 100%;
                width: 100%;
              }
              .count {
                background-color: white;
                line-height: 1;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: bold;
                top: 0;
                right: 0;
                margin-top: -4px;
                margin-right: -4px;
                text-align: center;
                border-radius: 8px;
                font-size: 10px;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
        &.true {
          h4 {
            display: none;
          }
          .group {
            height: unset;
            flex-grow: unset;
            .menu-itm {
              margin: 0.5rem 0;
              h5 {
                display: none;
              }
              svg {
                margin: auto;
                transform: scale(1.5);
              }
            }
            &::before {
              content: '';
              left: 0;
              right: 0;
            }
          }

          .profile-logout {
            display: flex;
            margin: 0 auto;
            .dp {
              height: 50px;
              width: 50px;
              border-radius: 25px;
            }
            .name {
              display: none;
            }
          }
        }
      }
    }
  }
  .site-layout {
    // height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    nav {
      .divider {
        border-left: 2px solid #ebebeb;
        height: 70%;
        margin: auto 0;
      }
      .bets-dash-navbar {
        display: flex;
        border-bottom: rgba(204, 204, 204, 0.2) solid 2px;
        height: 80px;
        background-color: white;
        h2 {
          padding: 0 50px;
          line-height: 1;
          margin: auto 0;
          margin-left: 20px;
          font-weight: bold;
        }
        .members {
          padding: 0 20px;
          display: flex;
          .img-list {
            margin: auto 0;
            height: 40px;
            img {
              margin-right: -10px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              border: solid 1px white;
            }
          }
          .add-member {
            margin: auto 0;
            margin-left: 30px;
            a {
              font-size: 20px;
              line-height: 1;
            }
          }
        }
        .private {
          cursor: pointer;
          width: 130px;
          margin: auto 20px auto auto;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          h5 {
            margin: auto;
            line-height: 1;
          }
        }
        .fav {
          margin: auto 20px auto 0;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            color: goldenrod;
            margin: auto;
            line-height: 1;
          }
        }
        .menu {
          margin: auto 20px auto 0;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            color: #32364f;
            margin: auto;
            line-height: 1;
          }
        }
        .notifications {
          position: relative;
          margin: auto 20px;
          font-size: 30px;
          svg {
            transform: rotate(15deg);
          }
          .count {
            position: absolute;
            top: 0;
            right: -5px;
            background-color: $bg-color;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            font-size: 10px;
            text-align: center;
          }
        }
        .new-project {
          margin: auto 20px auto 0;
          background-color: $bg-color;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            display: flex;
            color: white;
            margin: auto;
            line-height: 1;
          }
        }
      }
      .nav-bottom {
        display: flex;
        background: #fcfefe;
        box-shadow: -1px 1px 2px 0px rgba(204, 204, 204, 1);
        height: 50px;
        .tab {
          height: 100%;
          margin-left: 50px;
          display: flex;
          .tab-itm {
            cursor: pointer;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h6 {
              padding: 0 20px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 20px;
              line-height: 1;
              font-weight: 600;
              margin: 0;
              color: rgba(0, 10, 0, 0.5);
            }
            &::after {
              transition: 300ms ease all;
              margin-top: auto;
              content: '';
              height: 3px;
              border-radius: 2px;
              background-color: black;
              width: 0;
            }
            &.true {
              h6 {
                color: $bg-color;
              }
              &::after {
                width: 100%;
              }
            }
          }
        }
        .boards {
          display: flex;
          font-size: 20px;
          line-height: 1;
          margin: 0 20px;
          svg {
            margin: auto 0;
            height: 20px;
            width: 20px;
          }
          .itm {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.ant-dropdown {
  background: none;
  border-radius: 5px;
  padding: 2px;
  .drop-down-menu {
    background: none;
    border-radius: 5px;
    padding: 0;
    .ant-dropdown-menu-item {
      padding-left: 16px;
      border-radius: 5px;
      margin-bottom: 4px;
      font-size: 18px;
    }
  }
}
